<!--{template header}-->
<br/>
<h5>修改密码</h5><br />
当前管理员：{$adminname}<br /><br />
请输入旧密码：<input type="password" name="oldpwd" id="oldpwd" /><br />
请输入新密码：<input type="password" name="pwd1" id="pwd1" /><br />
请确认新密码：<input type="password" name="pwd2" id="pwd2" /><br />
<input class="btn btn-info" type="button" value="修改密码" id="submit"/>
<span id="info" style="margin-left: 60px;"></span><br /><br /><br />
<h5>密码重置</h5><br />
选择用户：
<select id="admin" name="admin">
	<option value="">请选择用户</option>
	<!--{loop $admins $admin}-->
	<option value="{$admin['name']}">{$admin['name']}</option>
	<!--{/loop}-->
</select><br /><br />
<input class="btn btn-info" type="button" value="重置密码" id="reset"/>
<span id="info2" style="margin-left: 60px;"></span>
<!--{template footer}-->
<script>
  $(document).ready(function() {
	 $("#password").attr("class", "active");
	 $("#submit").click(function() {
		 var name = '{$adminname}';
		 var oldpwd = $("#oldpwd").val();
		 var pwd1 = $("#pwd1").val();
		 var pwd2 = $("#pwd2").val();
		 $("#info").html("");
		 if(!oldpwd) {
			 $("<span style='color: red'>请输入旧密码!</span>").appendTo($("#info"));
			 $("#oldpwd").focus();
			 return;
		 }
		 if(!pwd1) {
			 $("<span style='color: red'>请输入新密码</span>").appendTo($("#info"));
			 $("#pwd1").focus();
			 return;
		 }
		 if(!pwd2) {
			 $("<span style='color: red'>请确认新密码</span>").appendTo($("#info"));
			 $("#pwd2").focus();
			 return;
		 }
		 if(pwd1 !== pwd2) {
			 $("<span style='color: red'>两次密码输入不一致，请重新输入！</span>").appendTo($("#info"));
			 $("#pwd2").select();
			 return;
		 }
		 $.post('admincp.php?mod=system&act=password&type=list', { name: name, oldpassword: oldpwd, newpassword: pwd1 }, function(data) {
			 if(data == 1) {
				 $("<span style='color: red'>旧密码错误！</span>").appendTo($("#info"));
			 } else if(data == 2) {
				 $("<span style='color: green'>修改成功！</span>").appendTo($("#info"));
				 location.href='admincp.php';
			 } else {
				 $("<span style='color: red'>修改失败！</span>").appendTo($("#info"));
			 }
			 
		 })
		 
	 });
	 $("#reset").click(function() {
		 var name = $("#admin").val();
		 $("#info2").html("");
		 if(!name) {
		 	$("<span style='color: red'>请选择要重置的用户！</span>").appendTo($("#info2"));
		 } else {
			 if(!confirm("确定重置该用户密码？！")) return false;
		 	 $.post('admincp.php?mod=system&act=resetpwd&type=list', { name: name }, function(data) {
			 	if(data == 1) {
					$("<span style='color: red'>没有找到该用户！</span>").appendTo($("#info2"));
				} else if(data == 2) {
					$("<span style='color: green'>密码重置成功！</span>").appendTo($("#info2"));
					location.reload();
				} else if(data == 3) {
					$("<span style='color: red'>密码重置失败！</span>").appendTo($("#info2"));
				} else {
					$("<span style='color: red'>您没有该权限！</span>").appendTo($("#info2"));
				}
			 });
		 }
	 });
  });
</script>